:root {
  --beet: #8B134D;
  --salmon: #EDAE9F;
  --yellow: #FFFF22;
  --green: #2C4023;
  --slate: #343434;
  --light_blue: #0A2C49;
  --dark_blue: #001229;
}

/* RESET */

html, body, header, nav, h1, h2, h3, h4, h5, h6, 
a, ol, ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea, select,
span, article, footer, time, small {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 100%;
  margin: 0; padding: 0;
  outline: 0;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%; height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button { cursor: pointer; }

/* MAIN */

.App {
  display: flex;
  position: relative;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 20rem;
  text-align: center; }

button.restart {
  font-size: 30px;
  position: absolute !important;
  top: 15px;
  right: 30px; }

h1 {
  color: var(--dark_blue);
  border-bottom: 1.5px solid var(--dark_blue);
  font-size: 60px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px; }
h2 { font-size: 36px; }

.fl:after {
  background: var(--salmon);
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  left: 15px; right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1; }

.difficulty button {
  background: var(--yellow);
  border-radius: 50%;
  color: var(--dark_blue);
  font-size: 16px;
  width: 75px; height: 75px;
  margin: 10px 10px; }
.difficulty button:hover, button.clicked-diff {
  background: var(--green);
  color: #fff; }

.action-btn {
  background: var(--dark_blue);
  color: #fff;
  cursor: pointer;
  padding: 20px 35px; 
  margin: 20px;
  transition: all .15s ease-in-out; }
.action-btn:hover {
  background: var(--light_blue); }

.score span {
  color: var(--beet);
  font-weight: 500; }

.question {
  margin: 10px; }

.choices {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 8rem; }

.answer-wrapper {
  background: var(--salmon);
  padding: 10px 30px;
  margin: 8px;
  width: 100%; }
.answer-wrapper:hover {
  background: var(--green);
  color: var(--yellow); }
.answer-wrapper span {
  width: 100%; }

button:disabled, button[disabled] {
  cursor: default;
  color: #999 !important; }

.correct.clicked, 
.correct.notclicked, .cr {
  background: var(--green) }
.incorrect.clicked, .icr {
  background: var(--beet); }

.question-list {
  font-size: 16px;
  list-style-type: decimal; 
  text-align: left; }
  .question-list li {
    margin-bottom: 6px; }

.ql-answers {
  color: #fff; }
